/* css */
#findmyparkbutton {
  width: 104px;
  height: 40px;
  font-size: 10px;
    background: rgba(163, 148, 126, 0.57);
  border-radius: 10px;
  border-color: rgba(163, 148, 126, 0.57);
}

#nextclosestbutton {
  width: 104px;
  height: 30px;
  font-size: 10px;
    background: rgba(163, 148, 126, 0.57);
  border-radius: 10px;
  border-color: rgba(163, 148, 126, 0.57);
}

.icon {
  width: 30px;
  height: 30px;
}
/* #appicon {
  position: absolute;
  width: 81px;
  height: 81px;
  left: 27px;
  top: 11px;
}

#gmbmticon {
  /* 68930A6F-A391-451D-B31E-B5F4FA39A2C5 */
/*  position: absolute;
  width: 81px;
  height: 81px;
  left: 300px;
  top: 11px;
  background: url(68930A6F-A391-451D-B31E-B5F4FA39A2C5.jpg);
}

#givemebackmytimetitle {
  position: absolute;
  width: 462px;
  height: 26px;
  left: 112px;
  top: 43px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#instructions {
  position: absolute;
  width: 305px;
  height: 44px;
  left: 38px;
  top: 107px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  /*text-align: center;
  color: #000000;
}

#hoursbox {
  position: absolute;
  width: 20px;
  height: 23px;
  left: 101px;
  top: 170px;
  background: rgba(163, 148, 126, 0.57);
  border-radius: 4px;
}

#minutesbox {
  position: absolute;
  width: 21px;
  height: 23px;
  left: 156px;
  top: 170px;
  background: rgba(163, 148, 126, 0.57);
  border-radius: 4px;
}

#screentime {
  position: absolute;
  width: 67px;
  height: 14px;
  left: 31px;
  top: 172px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height
  color: #000000;
}

#hours {
  position: absolute;
  width: 31px;
  height: 14px;
  left: 122px;
  top: 176px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height
  color: #000000;
}

#minutes {
  position: absolute;
  width: 60px;
  height: 12px;
  left: 179px;
  top: 176px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.findmyparkbox {
  position: absolute;
  width: 104px;
  height: 37px;
  left: 245px;
  top: 169px;
  background: rgba(163, 148, 126, 0.57);
  border-radius: 10px;
}

#nextclosestbox {
  position: absolute;
  width: 87px;
  height: 18px;
  left: 253px;
  top: 212px;
  background: rgba(163, 148, 126, 0.57);
  border-radius: 10px;
}
/*
#findmyparktext {
  position: absolute;
  width: 73px;
  height: 14px;
  left: 261px;
  top: 181px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height
  color: #000000;
}


#nextclosesttext {
  position: absolute;
  width: 95px;
  height: 8px;
  left: 249px;
  top: 217px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #000000;
}

#locationtext {
  position: absolute;
  width: 47px;
  height: 14px;
  left: 31px;
  top: 211px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

#leftp {
  position: absolute;
  width: 7px;
  height: 23px;
  left: 83px;
  top: 207px;
  font-size: 20px;
  line-height: 23px;
}

#rightp {
  position: absolute;
  width: 7px;
  height: 23px;
  left: 206px;
  top: 206px;
  font-size: 20px;
  line-height: 23px;
}

#latitudebox {
  position: absolute;
  width: 52px;
  height: 23px;
  left: 92px;
  top: 207px;
  background: rgba(163, 148, 126, 0.57);
  border-radius: 4px;
}
/*
#latitude {
  position: absolute;
  width: 52px;
  height: 23px;
  left: 92px;
  top: 207px;
  z-index: -99999;
}


#longitudebox {
  position: absolute;
  width: 52px;
  height: 23px;
  left: 152px;
  top: 207px;
  background: rgba(163, 148, 126, 0.57);
  border-radius: 4px;
}

#comma {
  position: absolute;
  width: 4px;
  height: 23px;
  left: 146px;
  top: 207px;
  font-size: 20px;
  line-height: 23px;
}

#locinstructions {
  position: absolute;
  width: 215px;
  height: 8px;
  left: 31px;
  top: 237px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 7px;
}

#goto {
  position: absolute;
  width: 129px;
  height: 24px;
  left: 124px;
  top: 262px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

#statepark {
  position: absolute;
  width: 305px;
  height: 38px;
  left: 27px;
  top: 276px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

#andhikefor {
  position: absolute;
  width: 80px;
  height: 24px;
  left: 152px;
  top: 308px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

#miles {
  position: absolute;
  width: 94px;
  height: 38px;
  left: 142px;
  top: 325px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.greenbox {
  position: absolute;
  width: 48px;
  height: 48px;
  background: rgba(81, 101, 84, 0.57);
  border-radius: 3px;
}

#gb1 {
  left: 33px;
  top: 349px;
}

#gb2 {
  left: 33px;
  top: 404px;
}

#gb3 {
  left: 33px;
  top: 459px;
}

#gb4 {
  left: 33px;
  top: 514px;
}

#gb5 {
  left: 33px;
  top: 569px;
}

#endnotes {
  position: absolute;
width: 207px;
height: 21px;
left: 84px;
top: 639px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 6px;
line-height: 7px;
text-align: center;

color: #000000;
}

.infolabel {
  font-size: 8px;
line-height: 9px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
}

#phonenumber {
position: absolute;
width: 60px;
height: 12px;
left: 87px;
top: 352px;
}

#parklatlong {
position: absolute;
width: 59px;
height: 13px;
left: 87px;
top: 408px;
}

#suggestedhike {
position: absolute;
width: 59px;
height: 21px;
left: 87px;
top: 463px;
}

#activites {
position: absolute;
width: 42px;
height: 13px;
left: 87px;
top: 518px;
}

#icecream {
  position: absolute;
width: 71px;
height: 13px;
left: 87px;
top: 573px;
}

#phoneicon {
position: absolute;
width: 42px;
height: 42px;
left: 35px;
top: 352px;
}

#latlongicon {
  position: absolute;
  width: 38px;
height: 40px;
left: 38px;
top: 407px;
}

#hikeicon {
  position: absolute;
width: 38px;
height: 42px;
left: 38px;
top: 462px;
}

#activitesicon {
  position: absolute;
width: 39px;
height: 42px;
left: 36px;
top: 517px;
}

#icecreamicon {
position: absolute;
width: 42px;
height: 44px;
left: 37px;
top: 570px;
}

/* 68930A6F-A391-451D-B31E-B5F4FA39A2C5 */ */
