/* css */
#findmyparkbutton {
  width: 104px;
  height: 40px;
  font-size: 10px;
  background: rgba(163, 148, 126, 0.57);
  border-radius: 10px;
  border-color: rgba(163, 148, 126, 0.57);
}

#nextclosestbutton {
  width: 104px;
  height: 30px;
  font-size: 10px;
  background: rgba(163, 148, 126, 0.57);
  border-radius: 10px;
  border-color: rgba(163, 148, 126, 0.57);
}

.icon {
  width: 30px;
  height: 30px;
  background-color: rgba(81, 101, 84, 0.57);
  border-radius: 3px;
}
